<!-- ユーザー情報 -->
<div>
  <%= image_tag @user.get_profile_image, size: '100x100' %>
  <%= link_to "プロフィールを編集", edit_user_path(@user.id) if @user == current_user %>
  <h3><%= @user.name %></h3>
  <h4><%= @user.introduction %></h4>
</div>

<%= render 'layouts/list', spots: @spots %>