<h2 class="text-center pt-4"><i class="far fa-flag"></i> 投稿一覧</h2>

<% if user_signed_in? %>
  <div class="search_for w-50 mx-auto">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'],['Spot']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward_match"],["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<%= render 'layouts/list', spots: @spots %>