<h2>投稿一覧</h2>
<% @spots.each do |spot| %>
<div>
  <%= image_tag spot.get_image, size: '400x225' %>
  <h3><%= spot.spot_name %></h3>
  <p><%= link_to "続きを読む", spot_path(spot) %></p>
  <%= image_tag spot.user.get_profile_image, size: '50x50' %>
  投稿者：<%= link_to spot.user.name, user_path(spot.user_id) %>
  <%= spot.created_at.strftime("%Y年%m月%d日") %>
</div><br>
<% end %>