<div id="spot_<%= @spot.id %>">
  <%= image_tag @spot.get_image %>
  <p>スポット名：<%= @spot.spot_name %></p>
  <p>スポットの説明：<%= @spot.caption %></p>
  <p><%= image_tag @spot.user.get_profile_image, size: '100x100' %></p>
  <p>ユーザー名：<%= @spot.user.name %></p>
  <p>投稿日：<%= @spot.created_at.strftime("%Y/%m/%d %I:%M %p") %></p>
  <% if @spot.user == current_user %>
    <%= link_to "削除", spot_path(@spot), method: :delete %>
  <% end %>
  <p class="favorite-btn">
    <%= render "layouts/favorite", spot: @spot %>
  </p>
  <%= link_to "一覧に戻る", spots_path %>
</div>

<div>
  <%= form_with model: [@spot, @spot_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '3', placeholder: "コメントを入力" %>
    <%= f.submit "送信" %>
  <% end %>
</div>

<div>
  <p class="spot_<%= @spot.id %>_comments_count">コメント件数：<%= @spot.spot_comments.count %> コメント</p>
  <div class="spot_<%= @spot.id %>_comments">
    <%= render "layouts/comment", spot: @spot %>
  </div>
</div>