<div class="container w-50 mt-4">
  <h2 class="text-center">グループ作成フォーム</h2><br>
  <%= form_with model: @group do |f| %>
    <h5 class="form-group mt-3">グループ名</h5>
      <%= f.text_field :group_name, class: 'form-control group_title' %>
    <h5 class="form-group mt-3">グループ紹介文</h5>
      <%= f.text_area :introduction, class: 'form-control group_body' %>
    <h5 class="form-group mt-3">グループ画像</h5>
      <%= f.file_field :group_image, accept: "image/*" %><br><br>
    <%= f.submit "投稿", class: 'btn btn-success' %>
  <% end %>
</div>